<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="mtech test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="coverage/clover.xml"/>
      <html outputDirectory="coverage/html"/>
    </report>
  </coverage>
</phpunit>