# Node.js
mtech-node/node_modules/
mtech-node/coverage/
mtech-node/package-lock.json

# PHP
mtech-php/vendor/
mtech-php/coverage/
mtech-php/composer.lock

# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# TeamCity
.teamcity/

# SonarQube
.sonar/
.scannerwork/

# OS
Thumbs.db
